<!-- component -->
<div class="flex w-full h-full">
  <div
    class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"
  >
    <div>
      <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">
        BookMarket, buy books <span class="text-indigo-600">smartly</span>
      </h2>
      <p class="mt-2 text-sm text-gray-500 md:text-base">
        The book market allows our customers to buy their books in an easier,
        faster and smarter way. Start shopping now to have access to continuous
        and progressive discounts on your next purchases!
      </p>
      <div class="flex justify-center lg:justify-start mt-6">
        <a
          class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800"
          href="/book/listBooks"
          >Get Started</a
        >
        <a
          class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400"
          href="#"
          >Learn More</a
        >
      </div>
    </div>
  </div>
  <div
    class="hidden lg:block lg:w-1/2"
    style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
  >
    <div
      class="h-full object-cover"
      style="background-image: url(/images/books.jpg)"
    >
      <div class="h-full bg-black opacity-25"></div>
    </div>
  </div>
</div>
