<div class="p-4 flex items-center justify-center min-h-full">
  <div
    class="p-4 md:w-2/4 w-full bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8"
  >
    <div class="mb-5">
      <div class="max-w-2xl mx-auto px-4 lg:max-w-4xl lg:px-0">
        <h1
          class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl"
        >
          Sale your book instead throwing it away!
        </h1>
        <p class="mt-2 text-md text-gray-500">
          Make a offer for your old book and wait for a answer from our staff!
        </p>
      </div>
    </div>

    <form [formGroup]="formSale" (ngSubmit)="submitForm()">
      <div class="gap-6 pt-7">
        <div class="col-span-3 sm:col-span-2">
          <label for="bookIsbn" class="block text-sm font-medium text-gray-700"
            >Book ISBN</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <svg
                class="h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </div>
            <input
              type="number"
              formControlName="bookIsbn"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
            />
          </div>
        </div>

        <div
          class="errorLabel"
          *ngIf="
            formSale.get('bookIsbn').touched &&
            formSale.get('bookIsbn').errors != null
          "
        >
          Invalid ISBN
        </div>
      </div>

      <div class="gap-6 pt-7">
        <div class="col-span-3 sm:col-span-2">
          <label for="bookIsbn" class="block text-sm font-medium text-gray-700"
            >Book Title</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <svg
                class="h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </div>
            <input
              type="text"
              formControlName="title"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
            />
          </div>
          <div
            class="errorLabel"
            *ngIf="
              formSale.get('title').touched &&
              formSale.get('title').errors != null
            "
          >
            Invalid title
          </div>
        </div>
      </div>

      <div class="pt-7">
        <label
          for="description"
          class="block text-sm font-medium text-gray-700"
        >
          Book condition description
        </label>
        <div class="mt-1">
          <textarea
            formControlName="description"
            rows="3"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
          ></textarea>
        </div>
        <p class="mt-2 text-sm text-gray-500">
          Insert a few words about book condition
        </p>
        <div
          class="errorLabel"
          *ngIf="
            formSale.get('description').touched &&
            formSale.get('description').errors != null
          "
        >
          Invalid description
        </div>
      </div>

      <div class="pt-7">
        <label class="block text-sm font-medium text-gray-700">
          Book Photo
        </label>
        <div
          class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
        >
          <div class="space-y-1 text-center">
            <svg
              class="mx-auto h-12 w-12 text-gray-400"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 48 48"
              aria-hidden="true"
            >
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="flex text-sm text-gray-600">
              <label
                for="file-upload"
                class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
              >
                <label
                  for="file-upload"
                  class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                >
                  <span>Upload a file</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    (change)="uploadFile($event)"
                    class="sr-only"
                  />
                </label>
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
          </div>
        </div>
        <div
          class="errorLabel"
          *ngIf="
            formSale.get('coverPhoto').touched &&
            formSale.get('coverPhoto').errors != null
          "
        >
          Invalid photo
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6 pt-7">
        <div class="col-span-1 sm:col-span-1">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Price</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <span class="text-gray-500 sm:text-sm"> € </span>
            </div>
            <input
              type="number"
              formControlName="price"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
            />
            <div
              class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
            >
              <span class="text-gray-500 sm:text-sm" id="price-currency">
                EUR
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="errorLabel"
        *ngIf="
          formSale.get('price').touched && formSale.get('price').errors != null
        "
      >
        Invalid Price
      </div>

      <div class="px-4 py-3 text-right sm:px-6">
        <button
          [disabled]="formSale.invalid || formSale.disabled"
          type="submit"
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Submit
        </button>
        <div class="errorLabel" *ngIf="error != null">
          {{ error }}
        </div>
      </div>
    </form>
  </div>
</div>
